<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>GTO</title>
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="">
    <link rel="stylesheet" href="../css/fontello.css">
    <link rel="stylesheet" href="../css/slick.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>

    <header>
        <div class="mobile">
            <div class="top-header">
                <div class="puncts">
                    <div class="container">
                        <div class="title">
                            <h4>Пункты техосмотра</h4>
                            <i class="icon-next"></i>
                        </div>
                    </div>
                    <div class="all-all-puncts">
                        <ul class="all-puncts">
                            <li>
                                <h5 data-adress="myPlacemark1" class="go-contact"><a href="contact.html">Автодиагностика</a></h5>
                                <div class="all-img">
                                    <span><i class="icon-006-car"></i></span>
                                    <span><i class="icon-008-lorry"></i></span>
                                    <span><i class="icon-007-motorcycle"></i></span>
                                    <span><i class="icon-005-bus"></i></span>
                                </div>
                            </li>
                            <li>
                                <h5 data-adress="myPlacemark2" class="go-contact"><a href="contact.html">Техосмотр СПБ Говорова</a></h5>
                                <div class="all-img">
                                    <span><i class="icon-006-car"></i></span>
                                    <span><i class="icon-008-lorry"></i></span>
                                    <span><i class="icon-007-motorcycle"></i></span>
                                    <span><i class="icon-005-bus"></i></span>
                                    <span><i class="icon-009-trailer-1"></i></span>
                                </div>
                            </li>
                            <li>
                                <h5 class="go-contact" data-adress="myPlacemark1"><a href="contact.html">Техосмотр Лахта</a></h5>
                                <div class="all-img">
                                    <span><i class="icon-006-car"></i></span>
                                </div>
                            </li>
                            <li>
                                <h5 class="go-contact" data-adress="myPlacemark2"><a href="contact.html">Техосмотр Лахта</a></h5>
                                <div class="all-img">
                                    <span><i class="icon-006-car"></i></span>
                                </div>
                            </li>
                            <li>
                                <h5 class="go-contact" data-adress="myPlacemark1"><a href="contact.html">Диагностика Авто</a></h5>
                                <div class="all-img">
                                    <span><i class="icon-006-car"></i></span>
                                </div>
                            </li>
                            <li>
                                <h5 class="go-contact" data-adress="myPlacemark2"><a href="contact.html">Техосмотр СПБ Говорова</a></h5>
                                <div class="all-img">
                                    <span><i class="icon-006-car"></i></span>
                                    <span><i class="icon-008-lorry"></i></span>
                                    <span><i class="icon-007-motorcycle"></i></span>
                                    <span><i class="icon-005-bus"></i></span>
                                    <span><i class="icon-009-trailer-1"></i></span>
                                </div>
                            </li>
                            <li>
                                <h5 class="go-contact" data-adress="myPlacemark1"><a href="contact.html">Техосмотр СПБ Говорова</a></h5>
                                <div class="all-img">
                                    <span><i class="icon-006-car"></i></span>
                                    <span><i class="icon-008-lorry"></i></span>
                                    <span><i class="icon-007-motorcycle"></i></span>
                                    <span><i class="icon-005-bus"></i></span>
                                    <span><i class="icon-009-trailer-1"></i></span>
                                </div>
                            </li>
                            <li>
                                <h5 class="go-contact" data-adress="myPlacemark2"><a href="contact.html">Техосмотр СПБ Говорова</a></h5>
                                <div class="all-img">
                                    <span><i class="icon-006-car"></i></span>
                                    <span><i class="icon-008-lorry"></i></span>
                                    <span><i class="icon-007-motorcycle"></i></span>
                                    <span><i class="icon-005-bus"></i></span>
                                    <span><i class="icon-009-trailer-1"></i></span>
                                </div>
                            </li>
                            <li>
                                <h5 class="go-contact" data-adress="myPlacemark1"><a href="contact.html">Техосмотр СПБ Говорова</a></h5>
                                <div class="all-img">
                                    <span><i class="icon-006-car"></i></span>
                                    <span><i class="icon-008-lorry"></i></span>
                                    <span><i class="icon-007-motorcycle"></i></span>
                                    <span><i class="icon-005-bus"></i></span>
                                    <span><i class="icon-009-trailer-1"></i></span>
                                </div>
                            </li>
                            <li>
                                <h5 class="go-contact" data-adress="myPlacemark2"><a href="contact.html">Техосмотр СПБ Говорова</a></h5>
                                <div class="all-img">
                                    <span><i class="icon-006-car"></i></span>
                                    <span><i class="icon-008-lorry"></i></span>
                                    <span><i class="icon-007-motorcycle"></i></span>
                                    <span><i class="icon-005-bus"></i></span>
                                    <span><i class="icon-009-trailer-1"></i></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="main-info">
                    <div class="container fl-main">
                        <h3><span>Официальный техосмотр</span> в Санкт-Петербурге</h3>
                        <a class="menu" href="javascript:void(0)">
                        <i class="icon-burger"></i>
                    </a>
                    </div>
                    <nav>
                        <i class="icon-close close-nav"></i>
                        <ul>
                            <li>
                                <a href="physical-inspection.html">Техосмотр
                            для физических лиц</a>
                            </li>
                            <li>
                                <a href="legal-inspection.html">Техосмотр
                                для юридических лиц</a>
                            </li>
                            <li><a href="osago.html">ОСАГО</a></li>
                            <li><a href="contact.html">Контакты</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="bottom-head">
                    <div class="container fl-bot">
                        <div>
                            <div class="call">
                                <span>
                                <i class="icon-phone-receiver"></i>
                            </span>
                                <a href="tel:+7 (812) 502-14-12">+7 (812) 502-14-12</a>
                            </div>
                            <p>Ежедневно с 9:00 до 19:00</p>
                        </div>
                        <a href="javascript:void(0)" class="red-button open-request-call">Перезвоните мне</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="desc">
            <div class="top-header">
                <div class="container fl-top-desc">
                    <div class="all-top">
                        <div class="puncts">
                            <div class="title">
                                <h4>Пункты техосмотра</h4>
                                <i class="icon-next"></i>
                            </div>
                        </div>
                        <div class="all-all-puncts">
                            <ul class="all-puncts">
                                <li>
                                    <h5 data-adress="myPlacemark1" class="go-contact"><a href="contact.html">Автодиагностика</a></h5>
                                    <div class="all-img">
                                        <span><i class="icon-006-car"></i></span>
                                        <span><i class="icon-008-lorry"></i></span>
                                        <span><i class="icon-007-motorcycle"></i></span>
                                        <span><i class="icon-005-bus"></i></span>
                                    </div>
                                </li>
                                <li>
                                    <h5 data-adress="myPlacemark2" class="go-contact"><a href="contact.html">Техосмотр СПБ Говорова</a></h5>
                                    <div class="all-img">
                                        <span><i class="icon-006-car"></i></span>
                                        <span><i class="icon-008-lorry"></i></span>
                                        <span><i class="icon-007-motorcycle"></i></span>
                                        <span><i class="icon-005-bus"></i></span>
                                        <span><i class="icon-009-trailer-1"></i></span>
                                    </div>
                                </li>
                                <li>
                                    <h5 data-adress="myPlacemark1" class="go-contact"><a href="contact.html">Техосмотр Лахта</a></h5>
                                    <div class="all-img">
                                        <span><i class="icon-006-car"></i></span>
                                    </div>
                                </li>
                                <li>
                                    <h5 data-adress="myPlacemark2" class="go-contact"><a href="contact.html">Авторегион-78</a></h5>
                                    <div class="all-img">
                                        <span><i class="icon-006-car"></i></span>
                                    </div>
                                </li>
                                <li>
                                    <h5 data-adress="myPlacemark3" class="go-contact"><a href="contact.html">Диагностика Авто</a></h5>
                                    <div class="all-img">
                                        <span><i class="icon-006-car"></i></span>
                                    </div>
                                </li>
                                <li>
                                    <h5 data-adress="myPlacemark1" class="go-contact"><a href="contact.html">Техосмотр СПБ Говорова</a></h5>
                                    <div class="all-img">
                                        <span><i class="icon-006-car"></i></span>
                                        <span><i class="icon-008-lorry"></i></span>
                                        <span><i class="icon-007-motorcycle"></i></span>
                                        <span><i class="icon-005-bus"></i></span>
                                        <span><i class="icon-009-trailer-1"></i></span>
                                    </div>
                                </li>
                                <li>
                                    <h5 data-adress="myPlacemark2" class="go-contact"><a href="contact.html">Техосмотр СПБ Говорова</a></h5>
                                    <div class="all-img">
                                        <span><i class="icon-006-car"></i></span>
                                        <span><i class="icon-008-lorry"></i></span>
                                        <span><i class="icon-007-motorcycle"></i></span>
                                        <span><i class="icon-005-bus"></i></span>
                                        <span><i class="icon-009-trailer-1"></i></span>
                                    </div>
                                </li>
                                <li>
                                    <h5 data-adress="myPlacemark1" class="go-contact"><a href="contact.html">Техосмотр СПБ Говорова</a></h5>
                                    <div class="all-img">
                                        <span><i class="icon-006-car"></i></span>
                                        <span><i class="icon-008-lorry"></i></span>
                                        <span><i class="icon-007-motorcycle"></i></span>
                                        <span><i class="icon-005-bus"></i></span>
                                        <span><i class="icon-009-trailer-1"></i></span>
                                    </div>
                                </li>
                                <li>
                                    <h5 data-adress="myPlacemark2" class="go-contact"><a href="contact.html">Техосмотр СПБ Говорова</a></h5>
                                    <div class="all-img">
                                        <span><i class="icon-006-car"></i></span>
                                        <span><i class="icon-008-lorry"></i></span>
                                        <span><i class="icon-007-motorcycle"></i></span>
                                        <span><i class="icon-005-bus"></i></span>
                                        <span><i class="icon-009-trailer-1"></i></span>
                                    </div>
                                </li>
                                <li>
                                    <h5 data-adress="myPlacemark1" class="go-contact"><a href="contact.html">Техосмотр СПБ Говорова</a></h5>
                                    <div class="all-img">
                                        <span><i class="icon-006-car"></i></span>
                                        <span><i class="icon-008-lorry"></i></span>
                                        <span><i class="icon-007-motorcycle"></i></span>
                                        <span><i class="icon-005-bus"></i></span>
                                        <span><i class="icon-009-trailer-1"></i></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="right-part-top">
                        <div class="call">
                            <span>
                        <i class="icon-phone-receiver"></i>
                    </span>
                            <a href="tel:+7 (812) 502-14-12">+7 (812) 502-14-12</a>
                        </div>
                        <p>Ежедневно с 9:00 до 19:00</p>
                    </div>
                </div>
            </div>
            <div class="main-header">
                <div class="container">
                    <div class="all-main-menu">
                        <a class="logo" href="index.html"><span>Официальный техосмотр</span>
                    в Санкт-Петербурге</a>
                        <nav>
                            <ul>
                                <li class="open-choice">
                                    <a href="javascript:void(0)" class="click-open">
                                Техосмотр
                                <i class="icon-next"></i>
                            </a>
                                    <ul class="chooice">
                                        <li><a href="physical-inspection.html">Для физических лиц</a></li>
                                        <li><a href="legal-inspection.html">Для юридических лиц</a></li>
                                    </ul>
                                </li>
                                <li><a href="osago.html">ОСАГО</a></li>
                                <li><a href="contact.html">Контакты</a></li>
                            </ul>
                        </nav>
                        <a href="javascript:void(0)" class="red-button open-request-call">Перезвоните мне</a>
                    </div>
                </div>
            </div>
    </header>

    <main>
        <div class="container">
            <section class="top-banner">
                <ul class="custom-pagin">
                    <li>01</li>
                    <span></span>
                    <li>05</li>
                </ul>
                <div class="all-slider">
                    <div class="one-slide">
                        <div class="all-info">
                            <div class="photo">
                                <img src="../img/top-banner1.png" alt="Photo">
                            </div>
                            <div class="text">
                                <h2 class="big"><span>Техосмотр</span> для ОСАГО</h2>
                                <p>Пройдите техосмотр и оформите ОСАГО прямо на месте!</p>
                                <div class="two-buttons">
                                    <a href="osago.html" class="red-button-arr">Подробнее
                                <i class="icon-arrow"></i>
                                </a>
                                    <a href="javascript:void(0) open-request-call" class="white-button">Заказать звонок</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="all-info">
                            <div class="photo">
                                <img src="../img/top-banner2.png" alt="Photo">
                            </div>
                            <div class="text">
                                <h2><span>Техосмотр</span> для физических лиц</h2>
                                <p>Пройдите техосмотр и оформите ОСАГО прямо на месте!</p>
                                <div class="two-buttons">
                                    <a href="physical-inspection.html" class="red-button-arr">Подробнее
                                <i class="icon-arrow"></i>
                                </a>
                                    <a href="javascript:void(0)" class="white-button  open-request-call">Заказать звонок</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="all-info">
                            <div class="photo">
                                <img src="../img/top-banner3.png" alt="Photo">
                            </div>
                            <div class="text">
                                <h2><span>Техосмотр</span> для юридических лиц</h2>
                                <p>Пройдите техосмотр и оформите ОСАГО прямо на месте!</p>
                                <div class="two-buttons">
                                    <a href="legal-inspection.html" class="red-button-arr">Подробнее
                                <i class="icon-arrow"></i>
                                </a>
                                    <a href="javascript:void(0)" class="white-button  open-request-call">Заказать звонок</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="custom-arr">
                    <li class=" prev-banner">
                        <i class='icon-arrow'> </i>
                    </li>
                    <li class="next-banner">
                        <i class='icon-arrow '> </i>
                    </li>
                </ul>
            </section>
            <section class="all-services">
                <ul class="custom-pagin">
                    <li>02</li>
                    <span></span>
                    <li>05</li>
                </ul>
                <div class="title-serv">
                    <h3>Услуги</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Risus
                        commodo viverra maecenas </p>
                </div>
                <div class="three-services">
                    <div class="one-serv">
                        <div class="phot">
                            <img src="../img/teamcolor.png" alt="Team">
                            <i class="icon-002-team"></i>
                        </div>
                        <h5>Техосмотр для физических лиц</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse</p>
                        <a href="physical-inspection.html">
                        Подробнее
                        <i class="icon-arrow"></i>
                    </a>
                    </div>
                    <div class="one-serv">
                        <div class="phot">
                            <img src="../img/car-insurance.png" alt="Team">
                            <i class="icon-003-car-insurance"></i>
                        </div>
                        <h5>Оформление ОСАГО</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse</p>
                        <a href="osago.html">
                        Подробнее
                        <i class="icon-arrow"></i>
                    </a>
                    </div>
                    <div class="one-serv">
                        <div class="phot">
                            <img src="../img/businessman.png" alt="Team">
                            <i class="icon-001-businessman"></i>
                        </div>
                        <h5>Техосмотр для юридических лиц</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse</p>
                        <a href="legal-inspection.html">
                        Подробнее
                        <i class="icon-arrow"></i>
                    </a>
                    </div>
                </div>
            </section>
            <section class="why-we-easy">
                <ul class="custom-pagin">
                    <li>03</li>
                    <span></span>
                    <li>05</li>
                </ul>
                <h3>Почему с нами легко?</h3>
                <h6>Упакуйте машину под ключ. Сел и поехал!</h6>
                <div class="all-why">
                    <img src="../img/why-easy.png" alt="Photo car" class="big-right">
                    <div class="content">
                        <div class="one-why">
                            <div class="image">
                                <span class="num">1</span>
                                <img src="../img/customer-service.png" alt="">
                            </div>
                            <div class="text">
                                <h6>Свяжитесь с менеджером или приезжайте прямо к нам</h6>
                                <ul>
                                    <li>Преимущество 1</li>
                                    <li>Преимущество 2</li>
                                </ul>
                            </div>
                        </div>
                        <div class="one-why">
                            <div class="image">
                                <span class="num">2</span>
                                <img src="../img/tech.png" alt="">
                            </div>
                            <div class="text">
                                <h6>Пройдите техосмотр и получите диагностическую карту
                                </h6>
                                <ul>
                                    <li>Преимущество 1</li>
                                    <li>Преимущество 2</li>
                                </ul>
                            </div>
                        </div>
                        <div class="one-why">
                            <div class="image">
                                <span class="num">3</span>
                                <img src="../img/osago.png" alt="">
                            </div>
                            <div class="text">
                                <h6>Оформите ОСАГО на месте</h6>
                                <ul>
                                    <li>Преимущество 1</li>
                                    <li>Преимущество 2</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="what-need">
                <ul class="custom-pagin">
                    <li>04</li>
                    <span></span>
                    <li>05</li>
                </ul>
                <h3>Что необходимо для техосмотра</h3>
                <div class="some-tit">
                    <h5>Здесь будет заголовок раздела
                    </h5>
                    <h6>А здесь будет подзаголовок при необходимости</h6>
                </div>
                <div class="two-column-info">
                    <div class="one-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Risus
                            </p>
                        <ul>
                            <li>Список 1</li>
                            <li>Список 1</li>
                            <li>Список 1</li>
                            <li>Список 1</li>
                        </ul>
                    </div>
                    <div class="one-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Risus
                            </p>
                        <ul>
                            <li>Список 1</li>
                            <li>Список 1</li>
                            <li>Список 1</li>
                            <li>Список 1</li>
                        </ul>
                    </div>
                </div>
                <p class="conclusion">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Risus commodo viverra maecenas
                    accumsan lacus vel facilisis.
                </p>
            </section>
        </div>
        <section class="contact-us">
            <div class="container">
                <ul class="custom-pagin">
                    <li>05</li>
                    <span></span>
                    <li>05</li>
                </ul>
                <form class="all-form">
                    <h3>Свяжитесь с нами</h3>
                    <div class="inp">
                        <label for="name1">Ваше имя</label>
                        <input type="text" id="name1" placeholder="Имя" required>
                    </div>
                    <div class="inp">
                        <label for="phone">Ваш телефон</label>
                        <input type="text" id="phone1" placeholder="+7 (___) ___-__-__" required>
                    </div>
                    <div class="pol">
                        <button href="javascript:void(0)" class="red-button  open-thank">Свяжитесь с нами</button>
                        <p>Нажимая на кнопку, вы соглашаетесь с <span>Политикой конфиденциальности</span></p>
                    </div>
                </form>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <div class="all-footer">
                <a class="logo" href="index.html"><span>Официальный техосмотр</span>
                в Санкт-Петербурге</a>
                <nav class="first">
                    <ul>
                        <h5>Для физических лиц</h5>
                        <li><a href="physical-inspection.html">Техосмотр легковых автомобилей</a></li>
                        <li><a href="physical-inspection.html">Техосмотр грузовых автомобилей</a></li>
                        <li><a href="physical-inspection.html">Техосмотр мотоциклов</a></li>
                        <li><a href="physical-inspection.html">Техосмотр  автобусов</a></li>
                        <li class="last"><a href="physical-inspection.html">Техосмотр  прицепов</a></li>
                        <h5>Для юридических лиц</h5>
                        <li><a href="legal-inspection.html">Техосмотр легковых автомобилей</a></li>
                        <li><a href="legal-inspection.html">Техосмотр грузовых автомобилей</a></li>
                        <li><a href="legal-inspection.html">Техосмотр мотоциклов</a></li>
                        <li><a href="legal-inspection.html">Техосмотр  автобусов</a></li>
                        <li><a href="legal-inspection.html">Техосмотр  прицепов</a></li>
                    </ul>
                </nav>
                <nav class="second">
                    <ul>
                        <li><a href="osago.html">ОСАГО</a></li>
                        <li><a href="contact.html">Контакты</a></li>
                        <li><a href="news.html">Новости</a></li>
                        <li><a href="#">Статьи</a></li>
                    </ul>
                </nav>
                <div class="right-part">
                    <p>Остались вопросы? Звоните!</p>
                    <a href="tel:+7 (812) 502-14-12" class="tel">+7 (812) 502-14-12</a>
                    <div>
                        <p>или</p>
                        <a href="javascript:void(0)" class="red-button open-request-call">Свяжитесь с нами</a>
                    </div>
                </div>
            </div>
            <div class="bottom-footer">
                <a href="javascript:void(0)">Политика конфиденциальности</a>
                <p>Проект разработан Plemya Art</p>
            </div>
        </div>
    </footer>

    <div class="back-dark pop"></div>

    <div class="request-call popUp">
        <button class="closePop">
        <i class="icon-close"></i>
    </button>
        <h5>Заказать звонок</h5>
        <form>
            <div>
                <label for="name">Ваше имя</label>
                <input type="text" id="name" placeholder="Имя" required>
            </div>
            <div>
                <label for="phone3">Ваш телефон</label>
                <input type="text" id="phone3" placeholder="+7 (___) ___-__-__" required>
            </div>
            <button href="javascript:void(0)" class="red-button cont-call">Свяжитесь с нами</button>
            <p class="polit">
                Нажимая на кнопку, вы соглашаетесь с <span>Политикой конфиденциальности</span>
            </p>
        </form>
    </div>


    <div class="thank popUp">
        <button class="closePop">
        <i class="icon-close"></i>
    </button>
        <h5>спасибо вам за заявку</h5>
        <p>В ближайшее время с Вами свяжется наш менеджер.</p>
        <a href="javascript:void(0)" class="red-button closeOnBut">Хорошо</a>
    </div>


    <div class="eror popUp">
        <button class="closePop">
        <i class="icon-close"></i>
    </button>
        <h5>произошла ошибка</h5>
        <a href="javascript:void(0)" class="red-button closeOnBut">Хорошо</a>
    </div>



    <div class="contact-pop popUp">
        <button class="closePop">
        <i class="icon-close"></i>
    </button>
        <img src="../img/pop-contact.jpg" alt="Photo">
    </div>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.maskedinput.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/main.min.js"></script>
    <script src="../js/index.min.js"></script>
</body>

</html>