<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>GTO</title>
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="">
    <link rel="stylesheet" href="../css/fontello.css">
    <link rel="stylesheet" href="../css/slick.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/info-page.css">
</head>

<body>

    <header>
        <div class="mobile">
            <div class="top-header">
                <div class="puncts">
                    <div class="container">
                        <div class="title">
                            <h4>Пункты техосмотра</h4>
                            <i class="icon-next"></i>
                        </div>
                    </div>
                    <div class="all-all-puncts">
                        <ul class="all-puncts">
                            <li>
                                <h5>Автодиагностика</h5>
                                <div class="all-img">
                                    <span><i class="icon-006-car"></i></span>
                                    <span><i class="icon-008-lorry"></i></span>
                                    <span><i class="icon-007-motorcycle"></i></span>
                                    <span><i class="icon-005-bus"></i></span>
                                </div>
                            </li>
                            <li>
                                <h5>Техосмотр СПБ Говорова</h5>
                                <div class="all-img">
                                    <span><i class="icon-006-car"></i></span>
                                    <span><i class="icon-008-lorry"></i></span>
                                    <span><i class="icon-007-motorcycle"></i></span>
                                    <span><i class="icon-005-bus"></i></span>
                                    <span><i class="icon-009-trailer-1"></i></span>
                                </div>
                            </li>
                            <li>
                                <h5>Техосмотр Лахта</h5>
                                <div class="all-img">
                                    <span><i class="icon-006-car"></i></span>
                                </div>
                            </li>
                            <li>
                                <h5>Авторегион-78</h5>
                                <div class="all-img">
                                    <span><i class="icon-006-car"></i></span>
                                </div>
                            </li>
                            <li>
                                <h5>Диагностика Авто</h5>
                                <div class="all-img">
                                    <span><i class="icon-006-car"></i></span>
                                </div>
                            </li>
                            <li>
                                <h5>Техосмотр СПБ Говорова</h5>
                                <div class="all-img">
                                    <span><i class="icon-006-car"></i></span>
                                    <span><i class="icon-008-lorry"></i></span>
                                    <span><i class="icon-007-motorcycle"></i></span>
                                    <span><i class="icon-005-bus"></i></span>
                                    <span><i class="icon-009-trailer-1"></i></span>
                                </div>
                            </li>
                            <li>
                                <h5>Техосмотр СПБ Говорова</h5>
                                <div class="all-img">
                                    <span><i class="icon-006-car"></i></span>
                                    <span><i class="icon-008-lorry"></i></span>
                                    <span><i class="icon-007-motorcycle"></i></span>
                                    <span><i class="icon-005-bus"></i></span>
                                    <span><i class="icon-009-trailer-1"></i></span>
                                </div>
                            </li>
                            <li>
                                <h5>Техосмотр СПБ Говорова</h5>
                                <div class="all-img">
                                    <span><i class="icon-006-car"></i></span>
                                    <span><i class="icon-008-lorry"></i></span>
                                    <span><i class="icon-007-motorcycle"></i></span>
                                    <span><i class="icon-005-bus"></i></span>
                                    <span><i class="icon-009-trailer-1"></i></span>
                                </div>
                            </li>
                            <li>
                                <h5>Техосмотр СПБ Говорова</h5>
                                <div class="all-img">
                                    <span><i class="icon-006-car"></i></span>
                                    <span><i class="icon-008-lorry"></i></span>
                                    <span><i class="icon-007-motorcycle"></i></span>
                                    <span><i class="icon-005-bus"></i></span>
                                    <span><i class="icon-009-trailer-1"></i></span>
                                </div>
                            </li>
                            <li>
                                <h5>Техосмотр СПБ Говорова</h5>
                                <div class="all-img">
                                    <span><i class="icon-006-car"></i></span>
                                    <span><i class="icon-008-lorry"></i></span>
                                    <span><i class="icon-007-motorcycle"></i></span>
                                    <span><i class="icon-005-bus"></i></span>
                                    <span><i class="icon-009-trailer-1"></i></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="main-info">
                    <div class="container fl-main">
                        <h3><span>Официальный техосмотр</span> в Санкт-Петербурге</h3>
                        <a class="menu" href="javascript:void(0)">
                        <i class="icon-burger"></i>
                    </a>
                    </div>
                    <nav>
                        <i class="icon-close close-nav"></i>
                        <ul>
                            <li>
                                <a href="#">Техосмотр
                            для физических лиц</a>
                            </li>
                            <li>
                                <a href="#">Техосмотр
                                для юридических лиц</a>
                            </li>
                            <li><a href="#">ОСАГО</a></li>
                            <li><a href="#">Контакты</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="bottom-head">
                    <div class="container fl-bot">
                        <div>
                            <div class="call">
                                <span>
                                <i class="icon-phone-receiver"></i>
                            </span>
                                <a href="tel:+7 (812) 502-14-12">+7 (812) 502-14-12</a>
                            </div>
                            <p>Ежедневно с 9:00 до 19:00</p>
                        </div>
                        <a href="javascript:void(0)" class="red-button">Перезвоните мне</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="desc">
            <div class="top-header">
                <div class="container fl-top-desc">
                    <div class="all-top">
                        <div class="puncts">
                            <div class="title">
                                <h4>Пункты техосмотра</h4>
                                <i class="icon-next"></i>
                            </div>
                        </div>
                        <div class="all-all-puncts">
                            <ul class="all-puncts">
                                <li>
                                    <h5>Автодиагностика</h5>
                                    <div class="all-img">
                                        <span><i class="icon-006-car"></i></span>
                                        <span><i class="icon-008-lorry"></i></span>
                                        <span><i class="icon-007-motorcycle"></i></span>
                                        <span><i class="icon-005-bus"></i></span>
                                    </div>
                                </li>
                                <li>
                                    <h5>Техосмотр СПБ Говорова</h5>
                                    <div class="all-img">
                                        <span><i class="icon-006-car"></i></span>
                                        <span><i class="icon-008-lorry"></i></span>
                                        <span><i class="icon-007-motorcycle"></i></span>
                                        <span><i class="icon-005-bus"></i></span>
                                        <span><i class="icon-009-trailer-1"></i></span>
                                    </div>
                                </li>
                                <li>
                                    <h5>Техосмотр Лахта</h5>
                                    <div class="all-img">
                                        <span><i class="icon-006-car"></i></span>
                                    </div>
                                </li>
                                <li>
                                    <h5>Авторегион-78</h5>
                                    <div class="all-img">
                                        <span><i class="icon-006-car"></i></span>
                                    </div>
                                </li>
                                <li>
                                    <h5>Диагностика Авто</h5>
                                    <div class="all-img">
                                        <span><i class="icon-006-car"></i></span>
                                    </div>
                                </li>
                                <li>
                                    <h5>Техосмотр СПБ Говорова</h5>
                                    <div class="all-img">
                                        <span><i class="icon-006-car"></i></span>
                                        <span><i class="icon-008-lorry"></i></span>
                                        <span><i class="icon-007-motorcycle"></i></span>
                                        <span><i class="icon-005-bus"></i></span>
                                        <span><i class="icon-009-trailer-1"></i></span>
                                    </div>
                                </li>
                                <li>
                                    <h5>Техосмотр СПБ Говорова</h5>
                                    <div class="all-img">
                                        <span><i class="icon-006-car"></i></span>
                                        <span><i class="icon-008-lorry"></i></span>
                                        <span><i class="icon-007-motorcycle"></i></span>
                                        <span><i class="icon-005-bus"></i></span>
                                        <span><i class="icon-009-trailer-1"></i></span>
                                    </div>
                                </li>
                                <li>
                                    <h5>Техосмотр СПБ Говорова</h5>
                                    <div class="all-img">
                                        <span><i class="icon-006-car"></i></span>
                                        <span><i class="icon-008-lorry"></i></span>
                                        <span><i class="icon-007-motorcycle"></i></span>
                                        <span><i class="icon-005-bus"></i></span>
                                        <span><i class="icon-009-trailer-1"></i></span>
                                    </div>
                                </li>
                                <li>
                                    <h5>Техосмотр СПБ Говорова</h5>
                                    <div class="all-img">
                                        <span><i class="icon-006-car"></i></span>
                                        <span><i class="icon-008-lorry"></i></span>
                                        <span><i class="icon-007-motorcycle"></i></span>
                                        <span><i class="icon-005-bus"></i></span>
                                        <span><i class="icon-009-trailer-1"></i></span>
                                    </div>
                                </li>
                                <li>
                                    <h5>Техосмотр СПБ Говорова</h5>
                                    <div class="all-img">
                                        <span><i class="icon-006-car"></i></span>
                                        <span><i class="icon-008-lorry"></i></span>
                                        <span><i class="icon-007-motorcycle"></i></span>
                                        <span><i class="icon-005-bus"></i></span>
                                        <span><i class="icon-009-trailer-1"></i></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="right-part-top">
                        <div class="call">
                            <span>
                        <i class="icon-phone-receiver"></i>
                    </span>
                            <a href="tel:+7 (812) 502-14-12">+7 (812) 502-14-12</a>
                        </div>
                        <p>Ежедневно с 9:00 до 19:00</p>
                    </div>
                </div>
            </div>
            <div class="main-header">
                <div class="container">
                    <div class="all-main-menu">
                        <a class="logo" href="index.html"><span>Официальный техосмотр</span>
                    в Санкт-Петербурге</a>
                        <nav>
                            <ul>
                                <li class="open-choice">
                                    <a href="javascript:void(0)" class="click-open">
                                Техосмотр
                                <i class="icon-next"></i>
                            </a>
                                    <ul class="chooice">
                                        <li><a href="#"> Теосмотр для физических лиц</a></li>
                                        <li><a href="#"> Теосмотр для юридических лиц</a></li>
                                    </ul>
                                </li>
                                <li><a href="osago.html">ОСАГО</a></li>
                                <li><a href="contact.html">Контакты</a></li>
                            </ul>
                        </nav>
                        <a href="javascript:void(0)" class="red-button">Перезвоните мне</a>
                    </div>
                </div>
            </div>
    </header>

    <main>
        <div class="container">
            <ul class="crumbs">
                <li><a href="index.html">Главная</a></li>
                <li><a href="info-page.html">Новости</a></li>
            </ul>
        </div>
        <section class="main-new">
            <div class="container">
                <div class="text-new">
                    <h3>Российских туристов вывезут из Китая. Сейчас там находятся более пяти тысяч человек</h3>
                    <div class="author">
                        <h6>28 января, 2020 • 14:29</h6>
                        <h6>468</h6>
                        <h6></h6>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <div class="all-footer">
                <a class="logo" href="index.html"><span>Официальный техосмотр</span>
                в Санкт-Петербурге</a>
                <nav class="first">
                    <ul>
                        <h5>Для физических лиц</h5>
                        <li><a href="#">Техосмотр легковых автомобилей</a></li>
                        <li><a href="#">Техосмотр грузовых автомобилей</a></li>
                        <li><a href="#">Техосмотр мотоциклов</a></li>
                        <li><a href="#">Техосмотр  автобусов</a></li>
                        <li class="last"><a href="#">Техосмотр  прицепов</a></li>
                        <h5>Для физических лиц</h5>
                        <li><a href="#">Техосмотр легковых автомобилей</a></li>
                        <li><a href="#">Техосмотр грузовых автомобилей</a></li>
                        <li><a href="#">Техосмотр мотоциклов</a></li>
                        <li><a href="#">Техосмотр  автобусов</a></li>
                        <li><a href="#">Техосмотр  прицепов</a></li>
                    </ul>
                </nav>
                <nav class="second">
                    <ul>
                        <li><a href="#">ОСАГО</a></li>
                        <li><a href="#">Контакты</a></li>
                        <li><a href="#">Новости</a></li>
                        <li><a href="#">Статьи</a></li>
                    </ul>
                </nav>
                <div class="right-part">
                    <p>Остались вопросы? Звоните!</p>
                    <a href="tel:+7 (812) 502-14-12" class="tel">+7 (812) 502-14-12</a>
                    <div>
                        <p>или</p>
                        <a href="javascript:void(0)" class="red-button">Свяжитесь с нами</a>
                    </div>
                </div>
            </div>
            <div class="bottom-footer">
                <a href="javascript:void(0)">Политика конфиденциальности</a>
                <p>Проект разработан Plemya Art</p>
            </div>
        </div>
    </footer>

    <div class="back-dark pop"></div>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/main.min.js"></script>
    <script src="../js/info-page.min.js"></script>
</body>

</html>