<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>GTO</title>
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="">
    <link rel="stylesheet" href="../css/fontello.css">
    <link rel="stylesheet" href="../css/slick.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/osago.css">
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=db64d94d-cf93-48b4-b626-000c4ad108a1" type="text/javascript"></script>
</head>

<body>

    <header>
        <div class="mobile">
            <div class="top-header">
                <div class="puncts">
                    <div class="container">
                        <div class="title">
                            <h4>Пункты техосмотра</h4>
                            <i class="icon-next"></i>
                        </div>
                    </div>
                    <div class="all-all-puncts">
                        <ul class="all-puncts">
                            <li>
                                <h5 data-adress="myPlacemark1" class="go-contact"><a href="contact.html">Автодиагностика</a></h5>
                                <div class="all-img">
                                    <span><i class="icon-006-car"></i></span>
                                    <span><i class="icon-008-lorry"></i></span>
                                    <span><i class="icon-007-motorcycle"></i></span>
                                    <span><i class="icon-005-bus"></i></span>
                                </div>
                            </li>
                            <li>
                                <h5 data-adress="myPlacemark2" class="go-contact"><a href="contact.html">Техосмотр СПБ Говорова</a></h5>
                                <div class="all-img">
                                    <span><i class="icon-006-car"></i></span>
                                    <span><i class="icon-008-lorry"></i></span>
                                    <span><i class="icon-007-motorcycle"></i></span>
                                    <span><i class="icon-005-bus"></i></span>
                                    <span><i class="icon-009-trailer-1"></i></span>
                                </div>
                            </li>
                            <li>
                                <h5 class="go-contact" data-adress="myPlacemark1"><a href="contact.html">Техосмотр Лахта</a></h5>
                                <div class="all-img">
                                    <span><i class="icon-006-car"></i></span>
                                </div>
                            </li>
                            <li>
                                <h5 class="go-contact" data-adress="myPlacemark2"><a href="contact.html">Техосмотр Лахта</a></h5>
                                <div class="all-img">
                                    <span><i class="icon-006-car"></i></span>
                                </div>
                            </li>
                            <li>
                                <h5 class="go-contact" data-adress="myPlacemark1"><a href="contact.html">Диагностика Авто</a></h5>
                                <div class="all-img">
                                    <span><i class="icon-006-car"></i></span>
                                </div>
                            </li>
                            <li>
                                <h5 class="go-contact" data-adress="myPlacemark2"><a href="contact.html">Техосмотр СПБ Говорова</a></h5>
                                <div class="all-img">
                                    <span><i class="icon-006-car"></i></span>
                                    <span><i class="icon-008-lorry"></i></span>
                                    <span><i class="icon-007-motorcycle"></i></span>
                                    <span><i class="icon-005-bus"></i></span>
                                    <span><i class="icon-009-trailer-1"></i></span>
                                </div>
                            </li>
                            <li>
                                <h5 class="go-contact" data-adress="myPlacemark1"><a href="contact.html">Техосмотр СПБ Говорова</a></h5>
                                <div class="all-img">
                                    <span><i class="icon-006-car"></i></span>
                                    <span><i class="icon-008-lorry"></i></span>
                                    <span><i class="icon-007-motorcycle"></i></span>
                                    <span><i class="icon-005-bus"></i></span>
                                    <span><i class="icon-009-trailer-1"></i></span>
                                </div>
                            </li>
                            <li>
                                <h5 class="go-contact" data-adress="myPlacemark2"><a href="contact.html">Техосмотр СПБ Говорова</a></h5>
                                <div class="all-img">
                                    <span><i class="icon-006-car"></i></span>
                                    <span><i class="icon-008-lorry"></i></span>
                                    <span><i class="icon-007-motorcycle"></i></span>
                                    <span><i class="icon-005-bus"></i></span>
                                    <span><i class="icon-009-trailer-1"></i></span>
                                </div>
                            </li>
                            <li>
                                <h5 class="go-contact" data-adress="myPlacemark1"><a href="contact.html">Техосмотр СПБ Говорова</a></h5>
                                <div class="all-img">
                                    <span><i class="icon-006-car"></i></span>
                                    <span><i class="icon-008-lorry"></i></span>
                                    <span><i class="icon-007-motorcycle"></i></span>
                                    <span><i class="icon-005-bus"></i></span>
                                    <span><i class="icon-009-trailer-1"></i></span>
                                </div>
                            </li>
                            <li>
                                <h5 class="go-contact" data-adress="myPlacemark2"><a href="contact.html">Техосмотр СПБ Говорова</a></h5>
                                <div class="all-img">
                                    <span><i class="icon-006-car"></i></span>
                                    <span><i class="icon-008-lorry"></i></span>
                                    <span><i class="icon-007-motorcycle"></i></span>
                                    <span><i class="icon-005-bus"></i></span>
                                    <span><i class="icon-009-trailer-1"></i></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="main-info">
                    <div class="container fl-main">
                        <h3><span>Официальный техосмотр</span> в Санкт-Петербурге</h3>
                        <a class="menu" href="javascript:void(0)">
                        <i class="icon-burger"></i>
                    </a>
                    </div>
                    <nav>
                        <i class="icon-close close-nav"></i>
                        <ul>
                            <li>
                                <a href="physical-inspection.html">Техосмотр
                            для физических лиц</a>
                            </li>
                            <li>
                                <a href="legal-inspection.html">Техосмотр
                                для юридических лиц</a>
                            </li>
                            <li><a href="osago.html">ОСАГО</a></li>
                            <li><a href="contact.html">Контакты</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="bottom-head">
                    <div class="container fl-bot">
                        <div>
                            <div class="call">
                                <span>
                                <i class="icon-phone-receiver"></i>
                            </span>
                                <a href="tel:+7 (812) 502-14-12">+7 (812) 502-14-12</a>
                            </div>
                            <p>Ежедневно с 9:00 до 19:00</p>
                        </div>
                        <a href="javascript:void(0)" class="red-button open-request-call">Перезвоните мне</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="desc">
            <div class="top-header">
                <div class="container fl-top-desc">
                    <div class="all-top">
                        <div class="puncts">
                            <div class="title">
                                <h4>Пункты техосмотра</h4>
                                <i class="icon-next"></i>
                            </div>
                        </div>
                        <div class="all-all-puncts">
                            <ul class="all-puncts">
                                <li>
                                    <h5 data-adress="myPlacemark1" class="go-contact"><a href="contact.html">Автодиагностика</a></h5>
                                    <div class="all-img">
                                        <span><i class="icon-006-car"></i></span>
                                        <span><i class="icon-008-lorry"></i></span>
                                        <span><i class="icon-007-motorcycle"></i></span>
                                        <span><i class="icon-005-bus"></i></span>
                                    </div>
                                </li>
                                <li>
                                    <h5 data-adress="myPlacemark2" class="go-contact"><a href="contact.html">Техосмотр СПБ Говорова</a></h5>
                                    <div class="all-img">
                                        <span><i class="icon-006-car"></i></span>
                                        <span><i class="icon-008-lorry"></i></span>
                                        <span><i class="icon-007-motorcycle"></i></span>
                                        <span><i class="icon-005-bus"></i></span>
                                        <span><i class="icon-009-trailer-1"></i></span>
                                    </div>
                                </li>
                                <li>
                                    <h5 data-adress="myPlacemark1" class="go-contact"><a href="contact.html">Техосмотр Лахта</a></h5>
                                    <div class="all-img">
                                        <span><i class="icon-006-car"></i></span>
                                    </div>
                                </li>
                                <li>
                                    <h5 data-adress="myPlacemark2" class="go-contact"><a href="contact.html">Авторегион-78</a></h5>
                                    <div class="all-img">
                                        <span><i class="icon-006-car"></i></span>
                                    </div>
                                </li>
                                <li>
                                    <h5 data-adress="myPlacemark3" class="go-contact"><a href="contact.html">Диагностика Авто</a></h5>
                                    <div class="all-img">
                                        <span><i class="icon-006-car"></i></span>
                                    </div>
                                </li>
                                <li>
                                    <h5 data-adress="myPlacemark1" class="go-contact"><a href="contact.html">Техосмотр СПБ Говорова</a></h5>
                                    <div class="all-img">
                                        <span><i class="icon-006-car"></i></span>
                                        <span><i class="icon-008-lorry"></i></span>
                                        <span><i class="icon-007-motorcycle"></i></span>
                                        <span><i class="icon-005-bus"></i></span>
                                        <span><i class="icon-009-trailer-1"></i></span>
                                    </div>
                                </li>
                                <li>
                                    <h5 data-adress="myPlacemark2" class="go-contact"><a href="contact.html">Техосмотр СПБ Говорова</a></h5>
                                    <div class="all-img">
                                        <span><i class="icon-006-car"></i></span>
                                        <span><i class="icon-008-lorry"></i></span>
                                        <span><i class="icon-007-motorcycle"></i></span>
                                        <span><i class="icon-005-bus"></i></span>
                                        <span><i class="icon-009-trailer-1"></i></span>
                                    </div>
                                </li>
                                <li>
                                    <h5 data-adress="myPlacemark1" class="go-contact"><a href="contact.html">Техосмотр СПБ Говорова</a></h5>
                                    <div class="all-img">
                                        <span><i class="icon-006-car"></i></span>
                                        <span><i class="icon-008-lorry"></i></span>
                                        <span><i class="icon-007-motorcycle"></i></span>
                                        <span><i class="icon-005-bus"></i></span>
                                        <span><i class="icon-009-trailer-1"></i></span>
                                    </div>
                                </li>
                                <li>
                                    <h5 data-adress="myPlacemark2" class="go-contact"><a href="contact.html">Техосмотр СПБ Говорова</a></h5>
                                    <div class="all-img">
                                        <span><i class="icon-006-car"></i></span>
                                        <span><i class="icon-008-lorry"></i></span>
                                        <span><i class="icon-007-motorcycle"></i></span>
                                        <span><i class="icon-005-bus"></i></span>
                                        <span><i class="icon-009-trailer-1"></i></span>
                                    </div>
                                </li>
                                <li>
                                    <h5 data-adress="myPlacemark1" class="go-contact"><a href="contact.html">Техосмотр СПБ Говорова</a></h5>
                                    <div class="all-img">
                                        <span><i class="icon-006-car"></i></span>
                                        <span><i class="icon-008-lorry"></i></span>
                                        <span><i class="icon-007-motorcycle"></i></span>
                                        <span><i class="icon-005-bus"></i></span>
                                        <span><i class="icon-009-trailer-1"></i></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="right-part-top">
                        <div class="call">
                            <span>
                        <i class="icon-phone-receiver"></i>
                    </span>
                            <a href="tel:+7 (812) 502-14-12">+7 (812) 502-14-12</a>
                        </div>
                        <p>Ежедневно с 9:00 до 19:00</p>
                    </div>
                </div>
            </div>
            <div class="main-header">
                <div class="container">
                    <div class="all-main-menu">
                        <a class="logo" href="index.html"><span>Официальный техосмотр</span>
                    в Санкт-Петербурге</a>
                        <nav>
                            <ul>
                                <li class="open-choice">
                                    <a href="javascript:void(0)" class="click-open">
                                Техосмотр
                                <i class="icon-next"></i>
                            </a>
                                    <ul class="chooice">
                                        <li><a href="physical-inspection.html">Для физических лиц</a></li>
                                        <li><a href="legal-inspection.html">Для юридических лиц</a></li>
                                    </ul>
                                </li>
                                <li><a href="osago.html">ОСАГО</a></li>
                                <li><a href="contact.html">Контакты</a></li>
                            </ul>
                        </nav>
                        <a href="javascript:void(0)" class="red-button open-request-call">Перезвоните мне</a>
                    </div>
                </div>
            </div>
    </header>

    <main>
        <div class="container">
            <ul class="crumbs">
                <li><a href="index.html">Главная</a></li>
                <li><a href="osago.html">ОСАГО</a></li>
            </ul>
        </div>
        <div class="container">
            <section class="main-osago">
                <h3>ОСАГО</h3>
                <div class="top-info">
                    <img src="../img/osago-img.png" alt="Image">
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem
                            ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem
                            ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                    </div>
                </div>
                <h5 class="polis">
                    У нас можно оформить полис следующих компаний:
                </h5>
                <div class="slider">
                    <div class="polis-slider">
                        <div class="one-polis">
                            <img src="../img/polis1.png" alt="Polis">
                        </div>
                        <div class="one-polis">
                            <img src="../img/polis2.png" alt="Polis">
                        </div>
                        <div class="one-polis">
                            <img src="../img/polis3.png" alt="Polis">
                        </div>
                        <div class="one-polis">
                            <img src="../img/polis4.png" alt="Polis">
                        </div>
                        <div class="one-polis">
                            <img src="../img/polis5.png" alt="Polis">
                        </div>
                        <div class="one-polis">
                            <img src="../img/polis2.png" alt="Polis">
                        </div>
                    </div>
                    <div class="polis-arr">
                        <li class="prev-polis">
                            <i class="icon-arrow"></i>
                        </li>
                        <li class="next-polis">
                            <i class="icon-arrow"></i>
                        </li>
                    </div>
                </div>
                <div class="two-column-info">
                    <div class="one-column">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem
                            ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                        <ul class="list1">
                            <li>Список 1</li>
                            <li>Список 1</li>
                            <li>Список 1</li>
                            <li>Список 1</li>
                        </ul>
                    </div>
                    <div class="one-column">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem
                            ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                        <ul class="list2">
                            <li>Список 1</li>
                            <li>Список 1</li>
                            <li>Список 1</li>
                            <li>Список 1</li>
                        </ul>
                    </div>
                </div>
                <h5 class="doc-osago">
                    Необходимые документы:
                </h5>
                <ul class="list1 last">
                    <li>Паспорт страхователя и собственника транспортного средства</li>
                    <li>Свидетельство о регистрации ТС (СТС) или паспорт ТС (ПТС)</li>
                    <li>Водительские удостоверения всех лиц, допущенных к управлению транспортным средством, если список водителей ограничен</li>
                </ul>
            </section>
        </div>
        <section class="contact-us">
            <div class="container">
                <form class="all-form">
                    <h3>Свяжитесь с нами</h3>
                    <div class="inp">
                        <label for="name4">Ваше имя</label>
                        <input type="text" id="name4" placeholder="Имя" required>
                    </div>
                    <div class="inp">
                        <label for="phone">Ваш телефон</label>
                        <input type="text" id="phone2" placeholder="+7 (___) ___-__-__" required>
                    </div>
                    <div class="pol">
                        <button href="javascript:void(0)" class="red-button open-thank">Свяжитесь с нами</button>
                        <p>Нажимая на кнопку, вы соглашаетесь с <span>Политикой конфиденциальности</span></p>
                    </div>
                </form>
            </div>
        </section>
        <div class="map-osago" id="map-osago"></div>
    </main>
    <footer>
        <div class="container">
            <div class="all-footer">
                <a class="logo" href="index.html"><span>Официальный техосмотр</span>
                в Санкт-Петербурге</a>
                <nav class="first">
                    <ul>
                        <h5>Для физических лиц</h5>
                        <li><a href="physical-inspection.html">Техосмотр легковых автомобилей</a></li>
                        <li><a href="physical-inspection.html">Техосмотр грузовых автомобилей</a></li>
                        <li><a href="physical-inspection.html">Техосмотр мотоциклов</a></li>
                        <li><a href="physical-inspection.html">Техосмотр  автобусов</a></li>
                        <li class="last"><a href="physical-inspection.html">Техосмотр  прицепов</a></li>
                        <h5>Для юридических лиц</h5>
                        <li><a href="legal-inspection.html">Техосмотр легковых автомобилей</a></li>
                        <li><a href="legal-inspection.html">Техосмотр грузовых автомобилей</a></li>
                        <li><a href="legal-inspection.html">Техосмотр мотоциклов</a></li>
                        <li><a href="legal-inspection.html">Техосмотр  автобусов</a></li>
                        <li><a href="legal-inspection.html">Техосмотр  прицепов</a></li>
                    </ul>
                </nav>
                <nav class="second">
                    <ul>
                        <li><a href="osago.html">ОСАГО</a></li>
                        <li><a href="contact.html">Контакты</a></li>
                        <li><a href="news.html">Новости</a></li>
                        <li><a href="#">Статьи</a></li>
                    </ul>
                </nav>
                <div class="right-part">
                    <p>Остались вопросы? Звоните!</p>
                    <a href="tel:+7 (812) 502-14-12" class="tel">+7 (812) 502-14-12</a>
                    <div>
                        <p>или</p>
                        <a href="javascript:void(0)" class="red-button open-request-call">Свяжитесь с нами</a>
                    </div>
                </div>
            </div>
            <div class="bottom-footer">
                <a href="javascript:void(0)">Политика конфиденциальности</a>
                <p>Проект разработан Plemya Art</p>
            </div>
        </div>
    </footer>

    <div class="back-dark pop"></div>

    <div class="request-call popUp">
        <button class="closePop">
        <i class="icon-close"></i>
    </button>
        <h5>Заказать звонок</h5>
        <form>
            <div>
                <label for="name">Ваше имя</label>
                <input type="text" id="name" placeholder="Имя" required>
            </div>
            <div>
                <label for="phone3">Ваш телефон</label>
                <input type="text" id="phone3" placeholder="+7 (___) ___-__-__" required>
            </div>
            <button href="javascript:void(0)" class="red-button cont-call">Свяжитесь с нами</button>
            <p class="polit">
                Нажимая на кнопку, вы соглашаетесь с <span>Политикой конфиденциальности</span>
            </p>
        </form>
    </div>


    <div class="thank popUp">
        <button class="closePop">
        <i class="icon-close"></i>
    </button>
        <h5>спасибо вам за заявку</h5>
        <p>В ближайшее время с Вами свяжется наш менеджер.</p>
        <a href="javascript:void(0)" class="red-button closeOnBut">Хорошо</a>
    </div>


    <div class="eror popUp">
        <button class="closePop">
        <i class="icon-close"></i>
    </button>
        <h5>произошла ошибка</h5>
        <a href="javascript:void(0)" class="red-button closeOnBut">Хорошо</a>
    </div>



    <div class="contact-pop popUp">
        <button class="closePop">
        <i class="icon-close"></i>
    </button>
        <img src="../img/pop-contact.jpg" alt="Photo">
    </div>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/jquery.maskedinput.min.js"></script>
    <script src="../js/main.min.js"></script>
    <script src="../js/osago.min.js"></script>
</body>

</html>