<footer>
    <div class="container">
        <div class="all-footer">
            <a class="logo" href="index.html"><span>Официальный техосмотр</span>
                в Санкт-Петербурге</a>
            <nav class="first">
                <ul>
                    <h5>Для физических лиц</h5>
                    <li><a href="#">Техосмотр легковых автомобилей</a></li>
                    <li><a href="#">Техосмотр грузовых автомобилей</a></li>
                    <li><a href="#">Техосмотр мотоциклов</a></li>
                    <li><a href="#">Техосмотр  автобусов</a></li>
                    <li class="last"><a href="#">Техосмотр  прицепов</a></li>
                    <h5>Для физических лиц</h5>
                    <li><a href="#">Техосмотр легковых автомобилей</a></li>
                    <li><a href="#">Техосмотр грузовых автомобилей</a></li>
                    <li><a href="#">Техосмотр мотоциклов</a></li>
                    <li><a href="#">Техосмотр  автобусов</a></li>
                    <li><a href="#">Техосмотр  прицепов</a></li>
                </ul>
            </nav>
            <nav class="second">
                <ul>
                    <li><a href="#">ОСАГО</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Статьи</a></li>
                </ul>
            </nav>
            <div class="right-part">
                <p>Остались вопросы? Звоните!</p>
                <a href="tel:+7 (812) 502-14-12" class="tel">+7 (812) 502-14-12</a>
                <div>
                    <p>или</p>
                    <a href="javascript:void(0)" class="red-button">Свяжитесь с нами</a>
                </div>
            </div>
        </div>
        <div class="bottom-footer">
            <a href="javascript:void(0)">Политика конфиденциальности</a>
            <p>Проект разработан Plemya Art</p>
        </div>
    </div>
</footer>