<footer>
    <div class="container">
        <div class="all-footer">
            <a class="logo" href="index.html"><span>Официальный техосмотр</span>
                в Санкт-Петербурге</a>
            <nav class="first">
                <ul>
                    <h5>Для физических лиц</h5>
                    <li><a href="physical-inspection.html">Техосмотр легковых автомобилей</a></li>
                    <li><a href="physical-inspection.html">Техосмотр грузовых автомобилей</a></li>
                    <li><a href="physical-inspection.html">Техосмотр мотоциклов</a></li>
                    <li><a href="physical-inspection.html">Техосмотр  автобусов</a></li>
                    <li class="last"><a href="physical-inspection.html">Техосмотр  прицепов</a></li>
                    <h5>Для юридических лиц</h5>
                    <li><a href="legal-inspection.html">Техосмотр легковых автомобилей</a></li>
                    <li><a href="legal-inspection.html">Техосмотр грузовых автомобилей</a></li>
                    <li><a href="legal-inspection.html">Техосмотр мотоциклов</a></li>
                    <li><a href="legal-inspection.html">Техосмотр  автобусов</a></li>
                    <li><a href="legal-inspection.html">Техосмотр  прицепов</a></li>
                </ul>
            </nav>
            <nav class="second">
                <ul>
                    <li><a href="osago.html">ОСАГО</a></li>
                    <li><a href="contact.html">Контакты</a></li>
                    <li><a href="news.html">Новости</a></li>
                    <li><a href="#">Статьи</a></li>
                </ul>
            </nav>
            <div class="right-part">
                <p>Остались вопросы? Звоните!</p>
                <a href="tel:+7 (812) 502-14-12" class="tel">+7 (812) 502-14-12</a>
                <div>
                    <p>или</p>
                    <a href="javascript:void(0)" class="red-button open-request-call">Свяжитесь с нами</a>
                </div>
            </div>
        </div>
        <div class="bottom-footer">
            <a href="javascript:void(0)" class="open-politic">Политика конфиденциальности</a>
            <p>Проект разработан Plemya Art</p>
        </div>
    </div>
</footer>