<header>
    <div class="mobile">
        <div class="top-header">
            <div class="puncts">
                <div class="container">
                    <div class="title">
                        <h4>Пункты техосмотра</h4>
                        <i class="icon-next"></i>
                    </div>
                </div>
                <div class="all-all-puncts">
                    <ul class="all-puncts">
                        <li>
                            <h5 data-adress="myPlacemark1" class="go-contact"><a href="contact.html">Автодиагностика</a></h5>
                            <div class="all-img">
                                <span><i class="icon-006-car"></i></span>
                                <span><i class="icon-008-lorry"></i></span>
                                <span><i class="icon-007-motorcycle"></i></span>
                                <span><i class="icon-005-bus"></i></span>
                            </div>
                        </li>
                        <li>
                            <h5 data-adress="myPlacemark2" class="go-contact"><a href="contact.html">Техосмотр СПБ Говорова</a></h5>
                            <div class="all-img">
                                <span><i class="icon-006-car"></i></span>
                                <span><i class="icon-008-lorry"></i></span>
                                <span><i class="icon-007-motorcycle"></i></span>
                                <span><i class="icon-005-bus"></i></span>
                                <span><i class="icon-009-trailer-1"></i></span>
                            </div>
                        </li>
                        <li>
                            <h5 class="go-contact" data-adress="myPlacemark1"><a href="contact.html">Техосмотр Лахта</a></h5>
                            <div class="all-img">
                                <span><i class="icon-006-car"></i></span>
                            </div>
                        </li>
                        <li>
                            <h5 class="go-contact" data-adress="myPlacemark2" ><a href="contact.html">Техосмотр Лахта</a></h5>
                            <div class="all-img">
                                <span><i class="icon-006-car"></i></span>
                            </div>
                        </li>
                        <li>
                            <h5  class="go-contact" data-adress="myPlacemark1"><a href="contact.html">Диагностика Авто</a></h5>
                            <div class="all-img">
                                <span><i class="icon-006-car"></i></span>
                            </div>
                        </li>
                        <li>
                            <h5  class="go-contact" data-adress="myPlacemark2"><a href="contact.html">Техосмотр СПБ Говорова</a></h5>
                            <div class="all-img">
                                <span><i class="icon-006-car"></i></span>
                                <span><i class="icon-008-lorry"></i></span>
                                <span><i class="icon-007-motorcycle"></i></span>
                                <span><i class="icon-005-bus"></i></span>
                                <span><i class="icon-009-trailer-1"></i></span>
                            </div>
                        </li>
                        <li>
                            <h5 class="go-contact" data-adress="myPlacemark1"><a href="contact.html">Техосмотр СПБ Говорова</a></h5>
                            <div class="all-img">
                                <span><i class="icon-006-car"></i></span>
                                <span><i class="icon-008-lorry"></i></span>
                                <span><i class="icon-007-motorcycle"></i></span>
                                <span><i class="icon-005-bus"></i></span>
                                <span><i class="icon-009-trailer-1"></i></span>
                            </div>
                        </li>
                        <li>
                            <h5 class="go-contact" data-adress="myPlacemark2"><a href="contact.html">Техосмотр СПБ Говорова</a></h5>
                            <div class="all-img">
                                <span><i class="icon-006-car"></i></span>
                                <span><i class="icon-008-lorry"></i></span>
                                <span><i class="icon-007-motorcycle"></i></span>
                                <span><i class="icon-005-bus"></i></span>
                                <span><i class="icon-009-trailer-1"></i></span>
                            </div>
                        </li>
                        <li>
                            <h5 class="go-contact" data-adress="myPlacemark1"><a href="contact.html">Техосмотр СПБ Говорова</a></h5>
                            <div class="all-img">
                                <span><i class="icon-006-car"></i></span>
                                <span><i class="icon-008-lorry"></i></span>
                                <span><i class="icon-007-motorcycle"></i></span>
                                <span><i class="icon-005-bus"></i></span>
                                <span><i class="icon-009-trailer-1"></i></span>
                            </div>
                        </li>
                        <li>
                            <h5 class="go-contact" data-adress="myPlacemark2"><a href="contact.html">Техосмотр СПБ Говорова</a></h5>
                            <div class="all-img">
                                <span><i class="icon-006-car"></i></span>
                                <span><i class="icon-008-lorry"></i></span>
                                <span><i class="icon-007-motorcycle"></i></span>
                                <span><i class="icon-005-bus"></i></span>
                                <span><i class="icon-009-trailer-1"></i></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-info">
                <div class="container fl-main">
                    <a href="index.html"><span>Официальный техосмотр</span>
                        в Санкт-Петербурге</a>
                    <a class="menu" href="javascript:void(0)">
                        <i class="icon-burger"></i>
                    </a>
                </div>
                <nav>
                    <i class="icon-close close-nav"></i>
                    <ul>
                        <li>
                            <a href="physical-inspection.html">Техосмотр
                            для физических лиц</a>
                        </li>
                        <li>
                            <a href="legal-inspection.html">Техосмотр
                                для юридических лиц</a>
                        </li>
                        <li><a href="osago.html">ОСАГО</a></li>
                        <li><a href="contact.html">Контакты</a></li>
                    </ul>
                </nav>
            </div>
            <div class="bottom-head">
                <div class="container fl-bot">
                    <div>
                        <div class="call">
                            <span>
                                <i class="icon-phone-receiver"></i>
                            </span>
                            <a href="tel:+7 (812) 502-14-12">+7 (812) 502-14-12</a>
                        </div>
                        <p>Ежедневно с 9:00 до 19:00</p>
                    </div>
                    <a href="javascript:void(0)" class="red-button open-request-call">Перезвоните мне</a>
                </div>
            </div>
        </div>
    </div>
    <div class="desc">
        <div class="top-header">
            <div class="container fl-top-desc">
                <div class="all-top">
                    <div class="puncts">
                        <div class="title">
                            <h4>Пункты техосмотра</h4>
                            <i class="icon-next"></i>
                        </div>
                    </div>
                <div class="all-all-puncts">
                    <ul class="all-puncts">
                        <li>
                            <h5  data-adress="myPlacemark1" class="go-contact"><a href="contact.html">Автодиагностика</a></h5>
                            <div class="all-img">
                                <span><i class="icon-006-car"></i></span>
                                <span><i class="icon-008-lorry"></i></span>
                                <span><i class="icon-007-motorcycle"></i></span>
                                <span><i class="icon-005-bus"></i></span>
                            </div>
                        </li>
                        <li>
                            <h5  data-adress="myPlacemark2" class="go-contact"><a href="contact.html">Техосмотр СПБ Говорова</a></h5>
                            <div class="all-img">
                                <span><i class="icon-006-car"></i></span>
                                <span><i class="icon-008-lorry"></i></span>
                                <span><i class="icon-007-motorcycle"></i></span>
                                <span><i class="icon-005-bus"></i></span>
                                <span><i class="icon-009-trailer-1"></i></span>
                            </div>
                        </li>
                        <li>
                            <h5  data-adress="myPlacemark1" class="go-contact"><a href="contact.html">Техосмотр Лахта</a></h5>
                            <div class="all-img">
                                <span><i class="icon-006-car"></i></span>
                            </div>
                        </li>
                        <li>
                            <h5 data-adress="myPlacemark2" class="go-contact"><a href="contact.html">Авторегион-78</a></h5>
                            <div class="all-img">
                                <span><i class="icon-006-car"></i></span>
                            </div>
                        </li>
                        <li>
                            <h5  data-adress="myPlacemark3" class="go-contact"><a href="contact.html">Диагностика Авто</a></h5>
                            <div class="all-img">
                                <span><i class="icon-006-car"></i></span>
                            </div>
                        </li>
                        <li>
                            <h5 data-adress="myPlacemark1" class="go-contact"><a href="contact.html">Техосмотр СПБ Говорова</a></h5>
                            <div class="all-img">
                                <span><i class="icon-006-car"></i></span>
                                <span><i class="icon-008-lorry"></i></span>
                                <span><i class="icon-007-motorcycle"></i></span>
                                <span><i class="icon-005-bus"></i></span>
                                <span><i class="icon-009-trailer-1"></i></span>
                            </div>
                        </li>
                        <li>
                            <h5 data-adress="myPlacemark2" class="go-contact"><a href="contact.html">Техосмотр СПБ Говорова</a></h5>
                            <div class="all-img">
                                <span><i class="icon-006-car"></i></span>
                                <span><i class="icon-008-lorry"></i></span>
                                <span><i class="icon-007-motorcycle"></i></span>
                                <span><i class="icon-005-bus"></i></span>
                                <span><i class="icon-009-trailer-1"></i></span>
                            </div>
                        </li>
                        <li>
                            <h5 data-adress="myPlacemark1" class="go-contact"><a href="contact.html">Техосмотр СПБ Говорова</a></h5>
                            <div class="all-img">
                                <span><i class="icon-006-car"></i></span>
                                <span><i class="icon-008-lorry"></i></span>
                                <span><i class="icon-007-motorcycle"></i></span>
                                <span><i class="icon-005-bus"></i></span>
                                <span><i class="icon-009-trailer-1"></i></span>
                            </div>
                        </li>
                        <li>
                            <h5 data-adress="myPlacemark2" class="go-contact"><a href="contact.html">Техосмотр СПБ Говорова</a></h5>
                            <div class="all-img">
                                <span><i class="icon-006-car"></i></span>
                                <span><i class="icon-008-lorry"></i></span>
                                <span><i class="icon-007-motorcycle"></i></span>
                                <span><i class="icon-005-bus"></i></span>
                                <span><i class="icon-009-trailer-1"></i></span>
                            </div>
                        </li>
                        <li>
                            <h5 data-adress="myPlacemark1" class="go-contact"><a href="contact.html">Техосмотр СПБ Говорова</a></h5>
                            <div class="all-img">
                                <span><i class="icon-006-car"></i></span>
                                <span><i class="icon-008-lorry"></i></span>
                                <span><i class="icon-007-motorcycle"></i></span>
                                <span><i class="icon-005-bus"></i></span>
                                <span><i class="icon-009-trailer-1"></i></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right-part-top">
                <div class="call">
                    <span>
                        <i class="icon-phone-receiver"></i>
                    </span>
                    <a href="tel:+7 (812) 502-14-12">+7 (812) 502-14-12</a>
                </div>
                <p>Ежедневно с 9:00 до 19:00</p>
            </div>
        </div>
    </div>
    <div class="main-header">
        <div class="container">
            <div class="all-main-menu">
                <a class="logo" href="index.html"><span>Официальный техосмотр</span>
                    в Санкт-Петербурге</a>
                <nav>
                    <ul>
                        <li class="open-choice">
                            <a href="javascript:void(0)" class="click-open">
                                Техосмотр
                                <i class="icon-next"></i>
                            </a>
                            <ul class="chooice">
                                <li><a href="physical-inspection.html">Для физических лиц</a></li>
                                <li><a href="legal-inspection.html">Для юридических лиц</a></li>
                            </ul>
                        </li>
                        <li><a href="osago.html">ОСАГО</a></li>
                        <li><a href="contact.html">Контакты</a></li>
                    </ul>
                </nav>
                <a href="javascript:void(0)" class="red-button open-request-call">Перезвоните мне</a>
            </div>
        </div>
    </div>
</header>