<div class="back-dark pop"></div>

<div class="request-call popUp">
    <button class="closePop">
        <i class="icon-close"></i>
    </button>
    <h5>Заказать звонок</h5>
    <form>
        <div>
            <label for="name">Ваше имя</label>
            <input type="text" id="name" placeholder="Имя" required>
        </div>
        <div>
            <label for="phone3">Ваш телефон</label>
            <input type="text" id="phone3" placeholder="+7 (___) ___-__-__" required>
        </div>
        <button href="javascript:void(0)" class="red-button cont-call" >Свяжитесь с нами</button>
        <p class="polit">
            Нажимая на кнопку, вы соглашаетесь 
            с <span>Политикой конфиденциальности</span>
        </p>
    </form>
</div>


<div class="thank popUp">
    <button class="closePop">
        <i class="icon-close"></i>
    </button>
    <h5>спасибо вам за заявку</h5>
    <p>В ближайшее время с Вами свяжется наш менеджер.</p>
    <a href="javascript:void(0)" class="red-button closeOnBut">Хорошо</a>
</div>


<div class="eror popUp">
    <button class="closePop">
        <i class="icon-close"></i>
    </button>
    <h5>произошла ошибка</h5>
    <a href="javascript:void(0)" class="red-button closeOnBut">Хорошо</a>
</div>



<div class="contact-pop popUp">
    <button class="closePop">
        <i class="icon-close"></i>
    </button>
    <img src="../img/pop-contact.jpg" alt="Photo">
</div>